<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Домой</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2023 Ваше Имя</p>
    </footer>
</body>
</html>
